@import "./prism.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.flex-basis-0 {
    flex-basis: 0;
    min-width: 0;
    min-height: 0;
}

.flex-row-responsive {
    flex-direction: row;
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media only screen and (max-width: 1000px) {
    .flex-row-responsive {
        flex-direction: column;
    }
}
